body {
    background-color: black;
    color: white; 
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    padding: 50px;
    margin: 10px;
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav li {
    margin-right: 20px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: white;
}

nav button {
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

main button {
    padding: auto;
    border: none;
    background-color: red;
    border-radius: 100px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}

.leftmain {
    width: 60%;
    text-align: center;
}

.leftmain h1 {
    font-size: 70px; 
}

.leftmain p {
    margin: 5% 0;
    font-size: 20px;
}

.rightmain {
    width: 100%;
}

.rightmain img {
    width: 100%; 
}
